html{
    height: 100%;
    /* background-color: aqua  ; */
    
}
body{
    height: inherit;
    background-color: aqua  ;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #fcfcfc;
  font-family: sans-serif;
}


.footer-content{
  background: #111;
  height: auto;
  width: 99vw;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
  
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 99vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}

		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin: 20px auto;
			max-width: 1000px;
		}
		.image {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 400px;
			margin: 10px;
			flex-basis: 300px;
		}
    .image img  {
			display: block;
			width: 100%;
			height: 100%;
			transition: transform 0.5s ease;
		}
		.image img:hover {
			transform: scale(1.2);
		}
		.caption {
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.8);
			color: #fff;
			padding: 10px;
			width: 100%;
			opacity: 0;
			transition: opacity 0.5s ease;
		}
		.image:hover .caption {
			opacity: 1;
		}
	
.bstseller{
      color: #d1ab5f;
      background-color: #000;
      border: 1px solid #000;
      border-radius: 5px;
      width: 100%;
     padding: 3px;
      margin-left: 10px;
      text-align: center;
    }